html{
    margin: 0;
    padding: 0;
}
.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

/* .c-img{
    height: 100px;
    width: 100px;
} */

th{
    text-align: left;
    padding: 5px;
    color: white;
    background: rgb(255, 148, 40);
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td p{
    border: 0px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width:100px;
    height: 100px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}
